* {
  box-sizing: border-box;
  margin: 0;
}


.root-layout{
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.root-layout:hover{
  cursor: default;
}

body{
  height: 100lvh;
  background-color: rgb(249 250 251 / 1);
}

button:focus,
button:focus-visible {
  outline: none ;
}

input:focus,
input:focus-visible{
  outline: none;
}


.auth-bg{
   background-image:  linear-gradient(to right bottom, oklch(95.466% 0.00182 249.199 / 0.81) 0%,
    oklch(48.411% 0.22876 294.263 / 0.334) 25%,
    oklch(95.466% 0.00182 249.199 / 0.81) 100%
    );
}


@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: auto;
  }
}