* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  scroll-behavior: smooth;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.root-layout:hover{
  cursor: default;
}

body{
  height: 100lvh;
}

button:focus,
button:focus-visible {
  outline: none ;
}

input:focus,
input:focus-visible{
  outline: none;
}


 


@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: auto;
  }
}