* {
  box-sizing: border-box;
  margin: 0;
}


.root-layout{
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme:dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root-layout:hover{
  cursor: default;
}

body{
  height: 100lvh;
  background-color: rgb(249 250 251 / 1);
}

button:focus,
button:focus-visible {
  outline: none ;
}

input:focus,
input:focus-visible{
  outline: none;
}


 


@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: auto;
  }
}